@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ancorli";
  src: url("./assets/fonts/Ancorli.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
